{% extends 'crystalSpa/base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Crystal Spa</title>
{% endblock %}

{% block body %}
	<section class="first-block">
		<nav class="header-menu">
			<div class="main-nav-logo">
				<a href="#">
					<img class="width-logo" src="{% static 'img/Logo.svg' %}" alt="Logo">
					<img class="only-logo" src="{% static 'img/Only logo.png' %}" alt="Logo">
					<img class="burger-menu" src="{% static 'img/burger-menu.png' %}" alt="Logo">
				</a>
			</div>
			<div class="nav-menu">
				<ul id="menu">
					<li><a href="#yak1">Услуги</a></li>
					<li><a href="#yak2">Массаж</a></li>
					<li><a href="#yak3">Бассейн</a></li>
					<li><a href="#yak4">Еда</a></li>
				</ul>
			</div>
			<div class="header-contact">
				<p>
					+998 93 579-80-08
				</p>
			</div>
			<div class="right-logo-div">
				<img class="right-logo" src="{% static 'img/Only logo.png' %}" alt="Logo">
			</div>
		</nav>
		<div class="heading-items">
			<div class="order-call-div">
				<div class="heading-div">
					<h1>
						Дайте себе почувствовать<br> наслажедение
					</h1>
				</div>
				<div class="order-button-div">
					<a data-modal href="#">
						Заказать звонок
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="preview-section">
		<div class="cards">
			<div class="card card-1">
				<div class="border-div border-div-1">
					<p>
						Сауны
					</p>
				</div>
			</div>
			<div class="card card-2">
				<div class="border-div border-div-2">
					<p>
						Бассейн
					</p>
				</div>
			</div>
			<div class="card card-3">
				<div class="border-div border-div-3">
					<p>
						Атмосферные<br>комнаты
					</p>
				</div>
			</div>
			<div class="card card-4">
				<div class="border-div border-div-4">
					<p>
						Спа-Уход
					</p>
				</div>
			</div>
			<div class="card card-5">
				<div class="border-div border-div-5">
					<p>
						Спа-Процедуры
					</p>
				</div>
			</div>
			<div class="card card-6">
				<div class="border-div border-div-6">
					<p>
						Спа-Массаж
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="spa-section">
		<div class="heading-spa" id="yak2">
			<h1>
				Массаж
			</h1>
		</div>
		<div class="logo-heading">
			<img src="{% static 'img/spa-logo.svg' %}" alt="spa-logo">
		</div>
		<div class="spa-description">
			<p>
				Окунитесь в мир безмятежности и расслабляющего отдыха в комплексе Crystal Spa. Для Вашего удобства представлены все Спа-процедуры: разнообразие видов массажа, 2 бассейна, фитобар. Наши процедуры помогут вам зарядиться энергией и легкостью!
			</p>
		</div>
		<center>
			<div class="capsule-left capsule-1">
				<div class="image-box-left">
					<img src="{% static 'img/capsule-img-1.jpg' %}" alt="capsule-image">
				</div>
				<div class="capsule-left-text-main-box">
					<div class="capsule-left-text-box">
						<h2>
							Классический массаж – не только удовольствие, но и польза для организма.
						</h2>
						<p>
							Доверьтесь профессионалам Crystal Spa и получите
							блаженное наслаждение от массажа. Классический
							массаж поможет побороть различные недуги,
							избавиться от напряжения и стресса.
						</p>
					</div>
				</div>
			</div>
			<div class="capsule-right capsule-2" id="yak3">
				<div class="capsule-right-text-main-box">
					<div class="capsule-right-text-box">
						<h2>
							В Crystal Spa 2 крытых бассейна, которые
							так и манят к себе после всех процедур.
						</h2>
						<p>
							Погрузитесь в царство полного спокойствия и безмятежности. После всех процедур приглашаем
							Вас поплавать, тем самым полностью восстановив свою энергию и легкость.
						</p>
					</div>
				</div>
				<div class="image-box-right">
					<img src="{% static 'img/capsule-img-2.jpg' %}" alt="capsule-image">
				</div>
			</div>
			<div class="capsule-left capsule-3" id="yak4">
				<div class="image-box-left">
					<img src="{% static 'img/capsule-img-3.jpg' %}" alt="capsule-image">
				</div>
				<div class="capsule-left-text-main-box">
					<div class="capsule-left-text-box">
						<h2>
							Crystal Spa приглашает гостей
							подкрепиться во время процедур.
						</h2>
						<p>
							Для полноценного комфорта гостей мы
							предусмотрели меню здорового питания. Широкий
							спектр блюд и оздоровительных напитков на любой
							вкус готовы затмить каждого!
						</p>
					</div>
				</div>
			</div>
		</center>
	</section>
	<section>
		<div class="price-heading-box" id="yak1">
			<h1>
				Наши услуги
			</h1>
		</div>
		<div class="price-box">
			<div class="price-card-box">
				<div class="price-card price-card-row-1">
					<div class="price-img-box">
						<img src="{% static 'img/price-1.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							классический
						</h3>
					</div>
					<div class="price-div">
						<p>300 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-1">
					<div class="price-img-box">
						<img src="{% static 'img/price-2.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							релакс
						</h3>
					</div>
					<div class="price-div">
						<p>300 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-1">
					<div class="price-img-box">
						<img src="{% static 'img/price-3.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							микс
						</h3>
					</div>
					<div class="price-div">
						<p>320 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-1">
					<div class="price-img-box">
						<img src="{% static 'img/price-4.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							со скрабом
						</h3>
					</div>
					<div class="price-div">
						<p>320 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-1">
					<div class="price-img-box">
						<img src="{% static 'img/price-5.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							оздоровительный
						</h3>
					</div>
					<div class="price-div">
						<p>320 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-1">
					<div class="price-img-box">
						<img src="{% static 'img/price-6.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							комплексный
						</h3>
					</div>
					<div class="price-div">
						<p>350 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-2">
					<div class="price-img-box">
						<img src="{% static 'img/price-7.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							пенный
						</h3>
					</div>
					<div class="price-div">
						<p>350 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-2">
					<div class="price-img-box">
						<img src="{% static 'img/price-8.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							спортивный
						</h3>
					</div>
					<div class="price-div">
						<p>350 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-2">
					<div class="price-img-box">
						<img src="{% static 'img/price-9.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							шоколадный
						</h3>
					</div>
					<div class="price-div">
						<p>350 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-2">
					<div class="price-img-box">
						<img src="{% static 'img/price-10.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							с мёдом
						</h3>
					</div>
					<div class="price-div">
						<p>350 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-2">
					<div class="price-img-box">
						<img src="{% static 'img/price-11.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							точечный
						</h3>
					</div>
					<div class="price-div">
						<p>350 000 <span>сум</span></p>
					</div>
				</div>
				<div class="price-card price-card-row-2">
					<div class="price-img-box">
						<img src="{% static 'img/price-12.svg' %}" alt="">
					</div>
					<div class="price-heading-box">
						<h3>
							Массаж<br>
							королевский
						</h3>
					</div>
					<div class="price-div">
						<p>500 000 <span>сум</span></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="order-button-box">
			<div class="order-button_bottom-div">
				<div class="order-border-box">
					<a data-modal="" href="#">Заказать звонок</a>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="bottom-line-box">
			<div class="logo-box">
				<img class="footer-first-logo" src="{% static 'img/footer-logo.svg' %}" alt="Footer logo">
				<img class="footer-logo" src="{% static 'img/footer-small-logo.svg' %}" alt="Footer logo">
			</div>
			<div class="phone-box">
				<p>
					+998 93 579-80-08
				</p>
			</div>
			<div class="right-div">
				<p>
					Crystal Spa, 2021 год
				</p>
			</div>
		</div>
	</footer>
	<div class="modal fade hide">
		<div class="modal__border">
			<div class="modal__dialog">
				<div class="modal__content">
					<div class="form__box">
						<div data-modal-close class="modal__close">
							<img src="{% static 'img/close.svg' %}" alt="Close">
						</div>
						<form class="card-form" method="GET"> {% csrf_token %}
							<input required placeholder="Имя и Фамилия" name="name" type="text"
								class="modal__input">
							<input required placeholder="Номер телефона (+998)" name="phone" type="text"
								class="modal__input">
							<button class="submit-button">Заказать звонок</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal__nav fade hide">
		<div class="modal__border">
			<div class="modal__dialog_nav">
				<div class="modal__content_nav">
					<div class="content__box">
						<div data-modal-close class="modal__close">
							<img src="{% static 'img/close.svg' %}" alt="Close">
						</div>
						<ul id="mob-menu">
							<li><a href="#yak1">Услуги</a></li>
							<li><a href="#yak2">Массаж</a></li>
							<li><a href="#yak3">Бассейн</a></li>
							<li><a href="#yak4">Еда</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script defer src="{% static 'js/script.js' %}"></script>
{% endblock %}